/* ==========================================================================
   #GREEN THEME
   ========================================================================== */

.t-green {
  color: palette(white);
  background-color: palette(green);

  a {
    color: palette(white);
  }
}
