/* ==========================================================================
   #LIGHT-GREEN THEME
   ========================================================================== */

.t-light-green {
  color: palette(white);
  background-color: palette(green, lighter);

  a {
    color: palette(white);
  }
}
