/* ==========================================================================
   #RED THEME
   ========================================================================== */

.t-red {
  color: palette(white);
  background-color: palette(red);

  a {
    color: palette(white);
  }
}
