/*----------------------------------*\
  #PINK THEME
\*----------------------------------*/

.t-pink {
  color: palette(white);
  background-color: palette(pink);
  
  a {
    color: palette(white);
  }
}