/*----------------------------------*\
  #TEAL THEME
\*----------------------------------*/

.t-teal {
  color: palette(white);
  background-color: palette(teal);
  
  a {
    color: palette(white);
  }
}