/* ==========================================================================
   #ORANGE THEME
   ========================================================================== */

.t-orange {
  color: palette(white);
  background-color: palette(orange);

  a {
    color: palette(white);
  }
}
