/*----------------------------------*\
  #NAVY THEME
\*----------------------------------*/

.t-navy {
  color: palette(white);
  background-color: palette(navy);
  
  a {
    color: palette(white);
  }
}