/* ==========================================================================
   #WRAPPER OBJECT
   ========================================================================== */

%o-wrapper,
.o-wrapper {
  max-width: $global-page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}
