/* ==========================================================================
   #VIOLET THEME
   ========================================================================== */

.t-violet {
  color: palette(white);
  background-color: palette(violet);

  a {
    color: palette(white);
  }
}
