/* ==========================================================================
   #FLOAT UTILITIES
   ========================================================================== */

/**
 * Small utility classes to help with floating.
 */

.u-float-left {
  float: left unquote('!important');
}

.u-float-right {
  float: right unquote('!important');
}

.u-float-none {
  float: none unquote('!important');
}
