/*------------------------------------*\
  #ELEMENTS - IMAGES
\*------------------------------------*/

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  // width: 100%; //Force low quality and smaller images to auto-fill the space available.
}

svg {
  fill: currentColor;
}