/*------------------------------------*\
  #ELEMENTS - LISTS
\*------------------------------------*/

ul,
ol {
  padding-left: $spacing-unit-small;
  margin-bottom: $spacing-unit;
  margin-left: $spacing-unit;
}

/**
  * Description Definitions and Description Title Element Styles
  */
  
dl {
  padding-left: $spacing-unit;
}

dd {
  margin-bottom: $spacing-unit;
}

dt {
  @include font-weight(bold);
  @include font-size(medium);
  margin-bottom: $spacing-unit-xsmall;
}

dt,
dd {
  margin-left: 0;
}
