/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: palette(blue);
  text-decoration: none;
  transition: color 0.3s ease;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: palette(blue, dark);
  }
}
