/*------------------------------------*\
    #FLOAT UTILITIES
\*------------------------------------*/

/**
 * Small utility classes to help with floating.
 */

.u-float-left {
  float: left !important;
}

.u-float-right {
  float: right !important;
}

.u-float-none {
  float: none !important;
}