//Nudge the background treatment to the top for art direction.
.u-background-alignment-top {
  background-position: 50% 10%;
}

.u-background-filter-blur {
  filter: blur(5px);
}

.u-background-color-gray {
  background-color: palette(gray, lightest) !important;
}

.u-background-color-white {
  background-color: palette(white) !important;
}

.u-background-color-black {
  background-color: palette(black) !important;
}


.u-background-size-contain {
  background-size: contain !important;
}

.u-background-size-cover {
  background-size: cover !important;
}